{% extends 'backend/backend.html.twig' %}

{% block title %}Nouveau stock{% endblock %}

{% block body %}

<h1>Nouveau stock</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{form_widget(form)}}

<button class="btn btn-success" type="submit">Ajouter</button>

{{form_end(form)}}

{% endblock %}